#top-header {
    background-image: url("https://image.jimcdn.com/app/cms/image/transf/dimension=974x10000:format=jpg/path/sf9d775dabbe8c54c/image/i33061d8909b20d9b/version/1518784759/image.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 12em;
    text-align: center;
}
#top-header::before{
  background: #FFFFFF;
}
#company-top-header {
    background-image: url("#");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 12em;
    text-align: center;
    color:white;
}
#company-top-header::before{
  background: #FFFFFF;
}


body{
    background-color: #fdd35c;
}

.top-block{
  text-align: center;
  padding: 2em 2em 2em 2em;
  background: #FFFFFF;
}

.company-top-block{
  text-align: left;
  padding: 2em 2em 2em 2em;
  background: #FFFFFF;
}

.margin-top-none{
  padding-top: 0em;
  margin-top: 0em;
}
.margin-bottom-none{
  padding-bottom: 0em;
  margin-bottom: 0em;
}

.btn-orange{
  background-color: #ed6d35;
}
.btn-orange:hover{
  background-color: #ed6d35;/*後で色変えよう*/
}
.btn-orange::before{
  background-color: #ed6d35;/*後で色変えよう*/
}

.header-icon{
  display: block;
 margin-left: auto;
 margin-right: auto;
  /* width:2em;
  height:2em; */
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.header-color{
  background-color: white;
}

.header-color-mobile{
  background-color: white;
  font-size: 0.7em;/* 0.57em */
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.white-background{
  background-color: white;
}

.menu li {
  position: relative;
}

.colum-line li::after{
  content: "";
  display: block;
  position: absolute;
  top: 0.5em;
  left: 1px;
  width: 1px;
  height: 1.4em;
  background: #dadada;
}

.bar::after{
  content: "";
  display: block;
  position: absolute;
  top: 0.5em;
  left: 1px;
  width: 1px;
  height: 1.4em;
  background: #dadada;
}

.mobile-size{
  font-size: 7px;
}

/* WP CLI */
.bottom-line{
  border-width: 0px 0px 1px 0px; /* 太さ */
   border-style: solid; /* 線種 */
   border-color: #dadada;   /* 線色 */
}

.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.background-white{
  background-color: white;
}

.header-color-mobile a{
  padding: 0 0 0 0;
  margin: 0.8em 1em 0em 1em;/* top ? bottom ? */
}
