<div class="top-bar">


<div class="show-for-small-only">
  <div class="title-bar-right">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">BnBn</div>
  </div>
</div>

<div class="hide-for-small-only">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">BnBn</li>
    </ul>
  </div>
</div>
<div class="hide-for-small-only">
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#">BnBnのしくみ</a></li>
      <li><a href="#">募集案件をみる</a></li>
      <li><a href="#">企業様はこちら</a></li>
      <li><a href="#">利用規約</a></li>
      <li><a href="#">お問い合わせ</a></li>
    </ul>
  </div>
</div>

</div>
