<div class="show-for-small-only">

  <div class="top-bar background-white center">

    <!-- <div class="title center"><b>BnBn</b></div> -->
    <a class="center" href="/debug/index.html">BnBn</a>
  </div>
</div>

<div class="top-bar header-color bottom-line background-white">

<!-- タブレット・PC -->
<div class="hide-for-small-only">
  <div class="top-bar-left">

    <ul class="dropdown menu" data-dropdown-menu>
      <!-- <li class="menu-text header-color">BnBn</li> -->
      <a href="/debug/index.html">BnBn</a>
    </ul>
  </div>
</div>
<div class="hide-for-small-only">
  <div class="top-bar-right">
    <ul class="menu">
      <li class="header-color">
        <!-- <img class="header-icon" src="./icon/brush.svg"> -->
        <a href="">BnBnのしくみ</a></li>
      <li class="header-color bar">
        <a href="https://bnbnhachi.jimdo.com/%E5%8B%9F%E9%9B%86%E6%A1%88%E4%BB%B6/">案件をみる</a></li>
      <li class="header-color bar">
        <a href="/debug/company/index.html">企業様はこちら</a></li>
      <li class="header-color bar">
        <a href="https://docs.google.com/forms/d/1i2ZYkK1n4z3i7gzDIo0blod02jnrC5A_GoChCpkK030/">お問い合わせ</a></li>
    </ul>
  </div>
</div>

<!-- モバイル -->
<div class="show-for-small-only center">
  <div class="top-bar-right">
    <ul class="menu white-background">
      <li class="header-color-mobile">
          <img class="header-icon" src="/debug/icon/bee.svg" width="23" height="23">
        <a href="">BnBnのしくみ</a></li>
      <li class="header-color-mobile bar">
        <img class="header-icon" src="/debug/icon/brush.svg" width="23" height="23">
        <a href="https://bnbnhachi.jimdo.com/%E5%8B%9F%E9%9B%86%E6%A1%88%E4%BB%B6/">案件をみる</a></li>
      <!-- <li class="header-color-mobile bar">
        <img class="header-icon" src="/debug/icon/flat.svg" width="23" height="23">
        <a href="#">企業様はこちら</a></li> -->
      <li class="header-color-mobile bar">
        <img class="header-icon" src="/debug/icon/telephone.svg" width="23" height="23">
        <a href="https://docs.google.com/forms/d/1i2ZYkK1n4z3i7gzDIo0blod02jnrC5A_GoChCpkK030/">お問い合わせ</a></li>
    </ul>
  </div>
</div>

</div>
